.popup{
    height: 100%;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.7);
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
}

.popup:target{
    opacity: 1;
    visibility: visible;
}
.popup__content{
    width: 75%;

    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0,0,0,.2);
    position:absolute;
    top:50%;
    left:50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(0.5);
    display: table;
    overflow: hidden;
    transition: all 0.4s 0.2s;
}
.popup__left{
    width:33.33%;
    display: table-cell;
}
.popup__right{
    width:66.67%;
    display: table-cell;
    vertical-align: middle;
    padding:3rem 5rem;

}
.popup__img{
    display: block;
    width:100%;

}
.popup__text{
    font-size: 1.4rem;
    margin-bottom:4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto;
}

/* popup open states */
.popup:target .popup__content{
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
}
.popup__close:link,
.popup__close:visited{
    color:#777;
    position: absolute;
    top:2.5rem;
    right:2.5rem;
    font-size: 3rem;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}
.popup__close:hover{
    color:#55c57a;
}